@charset "utf-8";
/* Bernardo Neto */

* {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif}
body { background:url(../imagens/bg_superior.png) center top no-repeat; margin:0;}
#principal { width:980px; height:auto; margin:0 auto; background:url(../imagens/bg_superior.png) center top no-repeat;}
#superior { width:100%; height:156px; background:url(../imagens/barra_menu.png) left bottom no-repeat; }
#superior .atendimento { float:right; margin:5px 125px 0 0 }
#superior .dados {float:right; margin:3px 5px 0 0; color:#c0d8f3; font-size:10pt; line-height:30px; text-align:right}
#superior .dados a {color:#c0d8f3; font-size:9pt;}
#superior .dados a:hover {color:#3cb1a7}
#superior .icones { color:#ffffff; font-size:11pt;  width:250px; height:40px; clear:right; float:right; margin:-6px 24px 0 0}
#superior .icones button.ajuda{ background:url(../imagens/icon-ajuda.png) left  no-repeat; }
#superior .icones button.sair{ background:url(../imagens/icon-sair.png) left  no-repeat;}
#superior .icones button.ajuda:hover{ background:url(../imagens/icon-ajuda-h.png) left  no-repeat;}
#superior .icones button.sair:hover{ background:url(../imagens/icon-sair-h.png) left  no-repeat;}
#superior .icones button.ajuda,
#superior .icones button.sair{ color:#FFF; text-decoration:none; text-align:left; height:39px;  padding-left:30px; border:none; margin-left:3px; cursor:pointer}
#superior .icones button.ajuda span,
#superior .icones button.sair span {color:#fff; font-size:11pt; text-align:left; line-height:17px;}
#superior .icones button.ajuda span:hover,
#superior .icones button.sair span:hover {color:#10a99a;}
#superior .logotipo { width:291px; height:76px; float:left; position:absolute; margin:15px 0 0 18px;}
.conteudo { width:100%; height:auto; float:left; margin:0 0 50px 0}

#superior .menu{ clear:left; margin-top:103px; position:absolute}

#menu { background:url(../imagens/barra_menu_bg.png) right  no-repeat; height:53px; float:left; margin-left:8px; padding-right:58px;}
#menu + div {margin:3px 0 0 10px; float:right; position:relative; *position:absolute}

#menu ul {padding:0px; width: 100%; list-style:none; margin:0 0 0 12px; line-height:44px }
#menu ul li { display: inline; }
#menu ul li a { padding: 2px 35px; float:left; color: #fff; text-decoration: none; text-shadow: 0.1em 0.1em 0.05em #26303c; height:48px; background:url(../imagens/barra_vertical_menu.png) right 0 no-repeat }
#menu ul li a:hover,
#menu ul li a.ativo {color: #c0d8f3; text-shadow:none}
#conteudoEsquerdo { width:700px; float:left; margin-top:8px;}
#conteudoDireita { width:244px; float:left; margin:8px 0 0 28px; height:auto;}
#conteudoCentral { width:98%; height:auto; margin-top:8px;}
#conteudoDireita #banner {}
.form { border:1px solid #dbdbdb; width:100%; margin:18px 0 8px 0; border-radius: 4px 4px 4px 4px; float:left; padding:0 0 15px 15px;}
#titulo { background:url(../imagens/barra_titulo_e.png) left top no-repeat; height:54px; margin:-8px 0 14px 0px; }
#titulo div { background:url(../imagens/barra_titulo.png) right top no-repeat; height:54px; float:left; margin-left:12px; white-space:nowrap; line-height:48px; color:#fff; text-shadow: 0.1em 0.1em 0.05em #364f18; font-weight:bold; padding:0 27px 0 10px; font-size:13pt}

.modulo{width: auto;height:46px;float:left; margin:0 18px 2px 0; vertical-align: baseline;border: none;display: inline;position: static; }
.modulo label {font-weight:normal;margin:0;color:#68696a; white-space:nowrap;font-size:9pt;float:inherit;margin-left:2px;}
.modulo label[title="Ajuda"] { background:url(../imagens/icon_ajuda.png) left no-repeat; padding-left:16px; cursor:help}

.modulo input.A {width:37px}.modulo input.B {width:100px}.modulo input.C {width:164px}.modulo input.D {width:227px}.modulo input.E {width:289px}.modulo input.F {width:352px}.modulo input.G {width:415px}
.modulo input.H {width:479px}.modulo input.I {width:541px}.modulo input.J {width:605px}.modulo input.L {width:667px}
.modulo select.A { width:45px;}.modulo select.B { width:108px;}.modulo select.C { width:171px;}.modulo select.D { width:235px;}.modulo select.E { width:297px;}.modulo select.F { width:360px;}
.modulo select.G { width:425px;}.modulo select.H { width:486px;}.modulo select.I { width:550px;}.modulo select.J { width:612px;}.modulo select.L { width:676px;}
.modulo select,
.modulo input[type="text"]{ font-size:10pt; color:#68696a; margin:0; border:1px solid #cccccc; padding:2px; clear:left;float:left; background:#f7f7f7  }
.modulo input[type="text"]{ padding-bottom:4px; *padding-bottom:2px}
.modulo input + input,
.modulo button + input { clear:none!important; float:left!important; margin-left:15px!important}
.modulo + br {clear:left; margin-top:40px}


/*aqui*/
.modulo button { cursor:pointer; width:23px; height:20px; float:left;clear:right; margin:2px 0 0 -24px;border:0; padding:0 ; background:none;}
.modulo button img {border:none; cursor:pointer; padding:0; margin:0; margin-left:-2px}
/*aqui*/

/*aqui*/
.botoes button { background:red url(../imagens/bg_botao_e.png) left top no-repeat; border:none; cursor:pointer; float:right; padding:8px 0 3px 5px; height:27px}
.botoes button span { background:url(../imagens/bg_botao_d.png) right bottom no-repeat;  border:none; margin-left:-1px; padding:6px 10px 3px 3px ;  color:#ffffff;  white-space:nowrap;}
/*.botoes button div span{ background:url(../imagens/seta_avancar.png) right 50% no-repeat; height:12px; border:none; }*/
/*aqui*/
/*.botoes button { background:url(../imagens/bg_botao_e.png) left 1px no-repeat; height:28px; border:none; cursor:pointer; float:right; padding:0;}
.botoes button span { background:url(../imagens/bg_botao_d.png) right top no-repeat;  border:none; margin-left:-4px; padding:0px 15px 6px 10px ; color:#ffffff;  white-space:nowrap;}*/
#navegacao {background: url(../imagens/navegacao_barra.png) center top no-repeat; margin:10px 0; height:auto; float:left; width:100%}
#navegacao ul {padding:0px; width: 100%; list-style:none; margin:0; background:none  }
#navegacao ul li { display: inline;}
#navegacao ul li a { padding: 2px 4px; float:left; color: #000; font-size:9pt; text-decoration: none; }
#navegacao ul li a:hover {color: #6fa132;}

#navegacao ul li div.um { background: url(../imagens/navegacao_circulo.png) center 2px no-repeat; height:21px; padding-top:20px; float:left}
#navegacao ul li div.dois { background: url(../imagens/navegacao_circulo2.png) center 2px no-repeat; height:21px; padding-top:20px; float:left}
#navegacao ul li div.tres { background: url(../imagens/navegacao_circulo3.png) center 2px no-repeat; height:21px; padding-top:20px; float:left}
#navegacao ul li div.quatro { background: url(../imagens/navegacao_circulo4.png) center 2px no-repeat; height:21px; padding-top:20px; float:left}
#navegacao ul li div.cinco { background: url(../imagens/navegacao_circulo5.png) center 2px no-repeat; height:21px; padding-top:20px; float:left}
#navegacao ul li div.seis { background: url(../imagens/navegacao_circulo6.png) center 2px no-repeat; height:21px; padding-top:20px; float:left}
#navegacao ul li div.sete { background: url(../imagens/navegacao_circulo7.png) center 2px no-repeat; height:21px; padding-top:20px; float:left}
#navegacao ul li div.oito { background: url(../imagens/navegacao_circulo8.png) center 2px no-repeat; height:21px; padding-top:20px; float:left}
#navegacao ul li div { background: url(../imagens/navegacao_circulo_2.png) center 2px no-repeat; height:21px; padding-top:20px; float:left}
#navegacao ul li a.ativo {color: #000; background:url(../imagens/navegacao_ativo.png) no-repeat left 50%; height:18px;}
#navegacao ul li a.ativo span {color: #000; background:url(../imagens/navegacao_ativo_d.png) no-repeat right top; padding:0 5px 4px 0; height:18px;}
#inferior { background:#eaf4fe; border-top:1px solid #d7d7d7; width:100%; height:180px; clear:left; position:relative; margin:20px 0 0 0}
#inferior .conteudo { width:980px; height:auto; margin-left:-490px; left:50%; position:relative;  background:none; color:#000}
#inferior .conteudo div { width:305px; height:50px; float:left; margin:8px }
#inferior .conteudo div h1{ color:#373737; font-size:12pt; margin:0; font-weight:normal}
#inferior .conteudo div ul { margin:5px 0 0 0 ; line-height:20px; list-style:inside}
#inferior .conteudo div ul li{ color:#373737; font-size:9pt; margin:0; font-weight:normal}
/*aqui*/
.aviso { background:#488aad url(../imagens/icon-aviso.png) 5px no-repeat; color:#133548; padding:6px 8px 2px 25px; white-space:nowrap; font-size:9pt; height:22px; float:left; border-radius: 4px 4px 4px 4px; }
/*aqui*/
/**according**/
#basic-accordian{ border:1px solid #c7c7c7;padding:1px;width:242px;position:relative;z-index:2;border-radius: 4px 4px 4px 4px;background:#f9f9f9;margin:15px 0;font-size:9pt;color:#414747;}
#basic-accordian ul {line-height:20px;}
#basic-accordian ul li a { text-decoration:none;color:#414747;}
#basic-accordian ul li a:hover { text-decoration:none;color:#71a33f;;}
.accordion_headings{padding:4px;color:#324358;cursor:pointer;font-weight:bold;font-size:11pt;font-weight:bold;background:#f9f9f9 url(../imagens/icon_mais.png) 95% no-repeat;}
.accordion_headings:hover{color:#71a33f;}
.accordion_child{padding:8px;background:#f9f9f9;}
.header_highlight{background:#f9f9f9 url(../imagens/icon_menos.png) 95% no-repeat;font-size:11pt;font-weight:bold;}
/*************/